# U.S. Senate 1976â€“2018 Dataset [![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/ricedatasci/deep/master?filepath=docs%2Fcurriculum%2Fdocs%2Fcurriculum%2Fexamples%2Fdataset.ipynb)

Here we'll introduce concepts with examples using a U.S. Senate Elections dataset.

Below is a basic introduction!

In [155]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [156]:
plt.rcParams["figure.figsize"] = 10, 6
plt.rcParams["figure.dpi"] = 150

In [157]:
plt.rcParams["figure.figsize"] = 10, 6
plt.rcParams["figure.dpi"] = 150

In [158]:
url = "https://dataverse.harvard.edu/api/access/datafile/:persistentId?persistentId=doi:10.7910/DVN/PEJ5QU/XXQCIK"
df = pd.read_csv(url, delimiter="\t")

In [159]:
df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
0,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Sam Steiger,republican,False,total,321236,741210,False,20171011.0
1,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Wm. Mathews Feighan,independent,False,total,1565,741210,False,20171011.0
2,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Dennis DeConcini,democrat,False,total,400334,741210,False,20171011.0
3,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Allan Norwitz,libertarian,False,total,7310,741210,False,20171011.0
4,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Bob Field,independent,False,total,10765,741210,False,20171011.0

In [160]:
df.count()

year              3421
state             3421
state_po          3421
state_fips        3421
state_cen         3421
state_ic          3421
office            3421
district          3421
stage             3421
special           3421
candidate         3011
party             2858
writein           3421
mode              3421
candidatevotes    3421
totalvotes        3421
unofficial        3421
version           3420
dtype: int64

In [161]:
df.office.value_counts()

US Senate    3421
Name: office, dtype: int64

In [162]:
df.party.value_counts().head(10)

republican           756
democrat             748
libertarian          341
independent          256
green                 81
socialist workers     65
natural law           45
constitution          41
reform                36
none                  27
Name: party, dtype: int64

In [163]:
df.describe()

,year,state_fips,state_cen,state_ic,candidatevotes,totalvotes,version
count,3421.000000,3421.000000,3421.000000,3421.000000,3.421000e+03,3.421000e+03,3.420000e+03
mean,1998.862321,29.037708,52.910552,38.989769,4.052304e+05,2.179958e+06,2.017186e+07
std,12.669946,15.430661,26.035517,22.740840,7.722098e+05,2.114724e+06,3.936505e+03
min,1976.000000,1.000000,11.000000,1.000000,1.000000e+00,1.000000e+00,2.017101e+07
25%,1988.000000,17.000000,33.000000,21.000000,4.745000e+03,6.407020e+05,2.017101e+07
50%,2000.000000,29.000000,54.000000,41.000000,5.738200e+04,1.541036e+06,2.017101e+07
75%,2010.000000,41.000000,74.000000,56.000000,4.766040e+05,2.802641e+06,2.017101e+07
max,2018.000000,56.000000,95.000000,82.000000,7.864624e+06,1.257851e+07,2.019011e+07